/* BASE STYLES and RESETS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .myThumbnails {
    flex : 1;
    flex-direction: row;
  }

  .wrapper {
    width: 100rem;
    margin: 0 auto;
  }


  /* FLEX
  .container {
    width: 1000px;
    min-height: 500px;
    margin: 50px auto;
    background-color: blue;
    display: flex;
}

.tabs {
    background-color: green;
    width: 30%;
}

.slideshow {
    background-color: red;
    flex-grow: 1;
}*/

/* GRID */
.container {
    width: 1000px;
    min-height: 500px;
    margin: 50px auto;
    background-color: blue;
    display: grid;
    grid-template-columns: 20% 80%;
}

.tabs {
    background-color: green;
}

.slideshow {
    background-color: red;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.tab:hover {
    background-color: yellow;
}

.thumbnails {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100px;
}

.thumbnail {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail img.hide {
  animation: hide;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.thumbnail img.left {
  animation: showLeft;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.thumbnail img.right {
  animation: showRight;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.thumbnail.active {
  transform: scale(1.3);
  z-index: 10;
}

.thumbnail.active img {
  box-shadow: 0px 0px 3px 5px rgba(133, 133, 223, .4);
}

.buttons {
  padding: 5rem;
  text-align: center;
}

@keyframes showLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(.9);
  }

  98% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes showRight {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(.9);
  }

  98% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
